# Tuples

In [7]:
tuple = (1,2,2,2,3,4,5)

# Tuple is a collection of items that are ordered and immutable.

print(tuple.count(2))

3

# sets

In [11]:
numbers = {1,2,3,4,5}

# Sets are a collection of items that are unordered and unique.

numbers.add(6)
numbers.pop()
print(numbers)
numbers.pop()
print(numbers)

{2, 3, 4, 5, 6}
{3, 4, 5, 6}

# dictionaries

In [12]:
Student = {'name': 'John', 'age': 20, 'city': 'New York'}
print(Student)

{'name': 'John', 'age': 20, 'city': 'New York'}

In [14]:
print(Student['name']) 
print(Student['age'])
print(Student['city'])

John
20
New York

In [17]:
Student['roll_no'] = 23456 
# Student.add('roll_no')
print(Student)

{'name': 'John', 'age': 20, 'city': 'New York', 'roll_no': 23456}

In [18]:
Student['name'] = 'Madiha'
print(Student)

{'name': 'Madiha', 'age': 20, 'city': 'New York', 'roll_no': 23456}

In [21]:
Student.pop('age')
print(Student)

{'age': 20, 'city': 'New York'}

In [22]:
del Student['city']
print(Student)

{'age': 20}

In [26]:
Student1 = {'name':'Horain', 'age':10, 'roll_no':12345}
Student2 = {'name':'Madiha', 'age':15, 'roll_no':12346}
Student3 = {'name':'Ayesha', 'age':12, 'roll_no':12347}

Students = [Student1, Student2, Student3]
#print([Student1, Student2, Student3])
for student in Students:
    print(student)

{'name': 'Horain', 'age': 10, 'roll_no': 12345}
{'name': 'Madiha', 'age': 15, 'roll_no': 12346}
{'name': 'Ayesha', 'age': 12, 'roll_no': 12347}

In [33]:
for key in Student1:
    print(f"{key} = {Student1[key]}")

name = Horain
age = 10
roll_no = 12345

In [34]:
print(Student1.keys())

print(Student1.values())

print(Student1.items())

dict_keys(['name', 'age', 'roll_no'])
dict_values(['Horain', 10, 12345])
dict_items([('name', 'Horain'), ('age', 10), ('roll_no', 12345)])

In [36]:
print(type(Students))
print(type(Student1))

<class 'list'>
<class 'dict'>

In [39]:
student5 : dict[str, int| str] = {'name': 'John', 'age': 20, 'city': 'New York'} # key value pair
print(student5)

{'name': 'John', 'age': 20, 'city': 'New York'}