# Class 1: Hello world

conda create -n [name] python==[version] -y
conda create -n class python==3.12.7 -y

In [1]:
print("Hello world!")

Hello world!

In [2]:
import pandas as pd
datatypes = pd.read_html("https://www.w3schools.com/python/python_datatypes.asp")
datatypes[1]

                                         Example   Data Type    Try it
0                              x = "Hello World"         str  Try it »
1                                         x = 20         int  Try it »
2                                       x = 20.5       float  Try it »
3                                         x = 1j     complex  Try it »
4              x = ["apple", "banana", "cherry"]        list  Try it »
5              x = ("apple", "banana", "cherry")       tuple  Try it »
6                                   x = range(6)       range  Try it »
7              x = {"name" : "John", "age" : 36}        dict  Try it »
8              x = {"apple", "banana", "cherry"}         set  Try it »
9   x = frozenset({"apple", "banana", "cherry"})   frozenset  Try it »
10                                      x = True        bool  Try it »
11                                  x = b"Hello"       bytes  Try it »
12                              x = bytearray(5)   bytearray  Try it »
13                      x = memoryview(bytes(5))  memoryview  Try it »
14                                      x = None    NoneType  Try it »

In [3]:
name: str = "Hoorain"
print(name)
print(type(name))
print(id(name))

Hoorain
<class 'str'>
1345480615152

In [4]:
# String
name: str = "Hoorain"
print(f"name: {name}, type: {type(name)}")

# Integer
age: int = 9
print(f"age: {age}, type: {type(age)}")

# Float
num: float = 9.0
print(f"num: {num}, type: {type(num)}")

# Boolean
student: bool = False
print(f"student: {student}, type: {type(student)}")

# List
languages: list[str] = ["Javascript", "Typescript", "Python"]
print(f"languages: {languages}, type: {type(languages)}")

# Tuple
coordinates: tuple = (10.0, 20.0)
print(f"coordinates: {coordinates}, type: {type(coordinates)}")

# Set
unique_numbers: set = {1, 2, 3, 4, 5}
print(f"unique_numbers: {unique_numbers}, type: {type(unique_numbers)}")

# Dictionary
person_info: dict = {"name": "Alice", "age": 30}
print(f"person_info: {person_info}, type: {type(person_info)}")

# NoneType
no_value: None = None
print(f"no_value: {no_value}, type: {type(no_value)}")

name: Hoorain, type: <class 'str'>
age: 9, type: <class 'int'>
num: 9.0, type: <class 'float'>
student: False, type: <class 'bool'>
languages: ['Javascript', 'Typescript', 'Python'], type: <class 'list'>
coordinates: (10.0, 20.0), type: <class 'tuple'>
unique_numbers: {1, 2, 3, 4, 5}, type: <class 'set'>
person_info: {'name': 'Alice', 'age': 30}, type: <class 'dict'>
no_value: None, type: <class 'NoneType'>

## String

In [5]:
# string

name: str = "Hoorain"
print(name) # print
print(type(name)) # type
print(len(name)) # length of string
print(id(name)) # physical address
print([i for i in dir(str) if '__' not in i]) # methods and attributes

Hoorain
<class 'str'>
7
1345480615152
['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

### Multiline string, F string

In [6]:
name = "hoorain"
age: int = 3
course = "python"

id_card = "GIAIC Student Card: \nName: " + name + " \nAge: " + str(age) + "\n Course: " + course

print(id_card)

GIAIC Student Card:
Name: hoorain
Age: 3
 Course: python

In [7]:
name = "hoorain"
age: int = 3
course = "python"

id_card = f"GIAIC Student Card: \nName {name} \nAge: {age + 10} \n Course: {course}"

print(id_card)

GIAIC Student Card:
Name hoorain
Age: 13
 Course: python

In [8]:
name = "hoorain"
age: int = 3
course = "python"

id_card = f"GIAIC Student Card: \nName {name} \nAge: {age + 10} \n Course: {course}"
id_card = f"""
GIAIC Student Card
Name: {name}
Age: {age}
Course: {course}
"""


print(id_card)

GIAIC Student Card
Name: hoorain
Age: 3
Course: python

### Jinja style

In [9]:
name = "hoorain"
age: int = 3
course = "python"

id_card = """GIAIC Student Card 
Name: {}
Age: {}
Course: {}""".format(name, age, course)

print(id_card)

GIAIC Student Card
Name: hoorain
Age: 3
Course: python

In [10]:
a = 3
b=5
c=6

#           1       2      0             0  1  2
print("a = {1}, b = {2}, c = {0}".format(a, c, b))
print("a = {a}, b = {b}, c = {c}".format(a=a, b=7, c="hello"))

a = 6, b = 5, c = 3
a = 3, b = 7, c = hello

### Looping Through a String
Since strings are arrays, we can loop through the characters in a string, with a `for` loop.

In [11]:
message = "This is python course"

for char in message:
    print(char)
    print(message)

print('------------------')

T
This is python course
h
This is python course
i
This is python course
s
This is python course

This is python course
i
This is python course
s
This is python course

This is python course
p
This is python course
y
This is python course
t
This is python course
h
This is python course
o
This is python course
n
This is python course

This is python course
c
This is python course
o
This is python course
u
This is python course
r
This is python course
s
This is python course
e
This is python course
------------------

### Check String
To check if a certain phrase or character is present in a string, we can use the keyword `in`.
To check if a certain phrase or character is NOT present in a string, we can use the keyword `not in`.

In [12]:
message = "This is python course"

include = "is" in message

print(include)

True

In [13]:
message = "This is python course"

not_include = "javascript" not in message

print(not_include)

True

### Methods

In [14]:
methods_table = pd.read_html("https://www.w3schools.com/python/python_strings_methods.asp")
methods_table[0]

            Method                                        Description
0     capitalize()         Converts the first character to upper case
1       casefold()                    Converts string into lower case
2         center()                          Returns a centered string
3          count()  Returns the number of times a specified value ...
4         encode()           Returns an encoded version of the string
5       endswith()  Returns true if the string ends with the speci...
6     expandtabs()                    Sets the tab size of the string
7           find()  Searches the string for a specified value and ...
8         format()               Formats specified values in a string
9     format_map()               Formats specified values in a string
10         index()  Searches the string for a specified value and ...
11       isalnum()  Returns True if all characters in the string a...
12       isalpha()  Returns True if all characters in the string a...
13       isascii()  Returns True if all characters in the string a...
14     isdecimal()  Returns True if all characters in the string a...
15       isdigit()  Returns True if all characters in the string a...
16  isidentifier()        Returns True if the string is an identifier
17       islower()  Returns True if all characters in the string a...
18     isnumeric()  Returns True if all characters in the string a...
19   isprintable()  Returns True if all characters in the string a...
20       isspace()  Returns True if all characters in the string a...
21       istitle()  Returns True if the string follows the rules o...
22       isupper()  Returns True if all characters in the string a...
23          join()  Joins the elements of an iterable to the end o...
24         ljust()     Returns a left justified version of the string
25         lower()                  Converts a string into lower case
26        lstrip()          Returns a left trim version of the string
27     maketrans()  Returns a translation table to be used in tran...
28     partition()  Returns a tuple where the string is parted int...
29       replace()  Returns a string where a specified value is re...
30         rfind()  Searches the string for a specified value and ...
31        rindex()  Searches the string for a specified value and ...
32         rjust()    Returns a right justified version of the string
33    rpartition()  Returns a tuple where the string is parted int...
34        rsplit()  Splits the string at the specified separator, ...
35        rstrip()         Returns a right trim version of the string
36         split()  Splits the string at the specified separator, ...
37    splitlines()  Splits the string at line breaks and returns a...
38    startswith()  Returns true if the string starts with the spe...
39         strip()            Returns a trimmed version of the string
40      swapcase()  Swaps cases, lower case becomes upper case and...
41         title()  Converts the first character of each word to u...
42     translate()                        Returns a translated string
43         upper()                  Converts a string into upper case
44         zfill()  Fills the string with a specified number of 0 ...

In [15]:
print([i for i in dir(str) if '__' not in i]) # methods and attributes

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [16]:
name = "muNiBa kHan"

print(name)
print(name.capitalize())
print(name.upper())
print(name.lower())
print(name.title())
print(name.swapcase())

muNiBa kHan
Muniba khan
MUNIBA KHAN
muniba khan
Muniba Khan
MUnIbA KhAN

In [17]:
message = "This is python course"

print(message.startswith('t'))
print(message.endswith('urse'))

False
True

In [18]:
example = "www.example.com"

print(example)
print(example.removeprefix('www.'))
print(example.removesuffix('.com'))

www.example.com
example.com
www.example

In [19]:
message = "This is python course"
#          0123

print(message.find('python', 3, 5))

-1

In [20]:

message = "This is python course"

print(message.replace('python', 'typescript'))

This is typescript course

In [21]:

message = "             This   is     python course       "
display(message)
display(message.strip())
display(message.lstrip())
display(message.rstrip())

'             This   is     python course       '

'This   is     python course'

'This   is     python course       '

'             This   is     python course'

In [22]:
message = "This is python course"

message.join('h e l lo')

'hThis is python course This is python courseeThis is python course This is python courselThis is python course This is python courselThis is python courseo'