# Class 2: Operators
### Python divides the operators in the following groups

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

# Bitwise operators

In [16]:
# bitwise and (&)
# 5 & 3 --> 5 binary is 101 , 3 binary is ---> 011 101 & 011 ---> 001
a = 5
b = 3
c = a & b
print(c)

1

In [18]:
# bitwise or operator
a = 1 # 01
b = 2 # 10
c = a | b # 11
print(c)

3

# bitwise xor (^)
a = 4
b = 5
c = a ^ 5
print(c)

In [20]:
a = 6 # 
b = 4
c = b ^ a
print(c)

2

In [1]:
# Install pandas and lxml


import pandas as pd

# Read HTML tables from the given URL
url = 'https://www.w3schools.com/python/python_operators.asp'
operators_table = pd.read_html(url)

# Display the tables extracted
len(operators_table)  # Check how many tables are found
operators_table[0].head()  # Show the first table (modify index if needed)

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »

#### Arithmetic Operators

In [2]:
# Display the first table
operators_table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [3]:
a: int = 5
b: int = 2
c = a / b

print(f"Addition {a + b}")
print(f"Subtraction {a - b}")
print(f"Multiplication {a * b}")
print(f"Division {a / b}") 
print(f"Modulus {a % b}")
print(f"Exponentiation {a ** b}")
print(f"Floor division {a // b}")

Addition 7
Subtraction 3
Multiplication 10
Division 2.5
Modulus 1
Exponentiation 25
Floor division 2

#### Assignment operators

In [4]:
operators_table[1]

   Operator        Example         Same As    Try it
0         =          x = 5           x = 5  Try it »
1        +=         x += 3       x = x + 3  Try it »
2        -=         x -= 3       x = x - 3  Try it »
3        *=         x *= 3       x = x * 3  Try it »
4        /=         x /= 3       x = x / 3  Try it »
5        %=         x %= 3       x = x % 3  Try it »
6       //=        x //= 3      x = x // 3  Try it »
7       **=        x **= 3      x = x ** 3  Try it »
8        &=         x &= 3       x = x & 3  Try it »
9        |=         x |= 3       x = x | 3  Try it »
10       ^=         x ^= 3       x = x ^ 3  Try it »
11      >>=        x >>= 3      x = x >> 3  Try it »
12      <<=        x <<= 3      x = x << 3  Try it »
13       :=  print(x := 3)  x = 3 print(x)  Try it »

In [5]:
a: int | float = 5
print(f"a = {a}")

a += 2
print(f"a + 2 = {a}")

a -= 2
print(f"a - 2 = {a}")

a *= 2
print(f"a * 2 = {a}")

a /= 2
print(f"a / 2 = {a}")

a **= 2
print(f"a ** 2 = {a}")

a //= 2
print(f"a // 2 = {a}")

a = 5
a + 2 = 7
a - 2 = 5
a * 2 = 10
a / 2 = 5.0
a ** 2 = 25.0
a // 2 = 12.0

#### Comparison Operators

In [6]:
operators_table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [7]:
a: int = 7
b: int = 10
c: int = 10

print(f"{a} is equal to {b}:                  {a == b}")
print(f"{a} is not equal to {b}:              {a != b}")
print(f"{a} is grater than {b}:               {a > b}")
print(f"{c} is less than {b}:                {c < b}")
print(f"{c} is grater than or equal to {b}:  {c >= b}")
print(f"{a} is less than or equal to {b}:     {a <= b}")

7 is equal to 10:                  False
7 is not equal to 10:              True
7 is grater than 10:               False
10 is less than 10:                False
10 is grater than or equal to 10:  True
7 is less than or equal to 10:     True

#### Logical Operators

In [8]:
operators_table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [9]:
# and == &&

print(True and True) # True
print(True and False) # False
print(False and False) # False

True
False
False

In [10]:
# or == ||

print(True or True)
print(True or False)
print(False or False)

True
True
False

In [11]:
# not == !

print(not True)
print(not False)

False
True

#### Identity Operators

In [12]:
operators_table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [13]:
x: str = 'abc'
y: str = 'xyz'

print(id(x))
print(id(y))

print(x is y)
print(x is not y)

140724309918440
2265178261232
False
True

#### Membership Operators

In [14]:
operators_table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [15]:
names: list[str] = ['hoorain', 'madiha', 'muniba']
user_input: str = input("Enter your name") 
print(user_input)
print(user_input.lower() in names)

muni
False

### Operators Precedence

<img src='https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg'>

### PEMDAS

- **P**arentheses/**B**rackets
- **E**xponents/**B**orders (ie Powers and Square Roots, etc)
- **MD** Multiplication and Division (left-to-right)
- **AS** Addition and Subtraction (left-to-right)

In [1]:
# Example of PEMDAS in action
result = (10 + 5) ** 2 / (4 * 2) - (15 - 3 * 2)

print("Let's break down this equation:")
print("(10 + 5) ** 2 / (4 * 2) - (15 - 3 * 2)")
print("\nStep by step following PEMDAS:")
print("1. Parentheses first: (10 + 5) = 15, (4 * 2) = 8, (15 - 3 * 2) = 9")
print("2. Exponents: 15 ** 2 = 225") 
print("3. Multiplication/Division (left to right): 225 / 8 = 28.125")
print("4. Subtraction: 28.125 - 9 = 19.125")
print(f"\nFinal result = {result}")

Let's break down this equation:
(10 + 5) ** 2 / (4 * 2) - (15 - 3 * 2)

Step by step following PEMDAS:
1. Parentheses first: (10 + 5) = 15, (4 * 2) = 8, (15 - 3 * 2) = 9
2. Exponents: 15 ** 2 = 225
3. Multiplication/Division (left to right): 225 / 8 = 28.125
4. Subtraction: 28.125 - 9 = 19.125

Final result = 19.125

In [3]:
# Example using bitwise operators
a = 60  # 60 = 0011 1100 in binary
b = 13  # 13 = 0000 1101 in binary

print("Let's perform bitwise operations:")
print(f"a = {a} (binary: {bin(a)[2:]})")
print(f"b = {b} (binary: {bin(b)[2:]})")

# Bitwise AND (&)
print(f"\nBitwise AND (a & b):")
print(f"Result: {a & b} (binary: {bin(a & b)[2:]})")

# Bitwise OR (|) 
print(f"\nBitwise OR (a | b):")
print(f"Result: {a | b} (binary: {bin(a | b)[2:]})")

# Bitwise XOR (^)
print(f"\nBitwise XOR (a ^ b):")
print(f"Result: {a ^ b} (binary: {bin(a ^ b)[2:]})")

# Bitwise NOT (~)
print(f"\nBitwise NOT (~a):")
print(f"Result: {~a} (binary: {bin(~a)[2:]})")

# Left shift (<<)
shift = 2
print(f"\nLeft shift (a << {shift}):")
print(f"Result: {a << shift} (binary: {bin(a << shift)[2:]})")

# Right shift (>>)
print(f"\nRight shift (a >> {shift}):")
print(f"Result: {a >> shift} (binary: {bin(a >> shift)[2:]})")

Let's perform bitwise operations:
a = 60 (binary: 111100)
b = 13 (binary: 1101)

Bitwise AND (a & b):
Result: 12 (binary: 1100)

Bitwise OR (a | b):
Result: 61 (binary: 111101)

Bitwise XOR (a ^ b):
Result: 49 (binary: 110001)

Bitwise NOT (~a):
Result: -61 (binary: b111101)

Left shift (a << 2):
Result: 240 (binary: 11110000)

Right shift (a >> 2):
Result: 15 (binary: 1111)